.main-container {
  background-color: #577284;
  }

  .user {
    text-align: right;
  }

  .article-name{
    font-size: 19px;
  }

.title{
  text-align: center;
  font-size: 40px;
}

.body{
  font-size: 26px;
  
}

#root {
  color: #001f3f;
}


.link {
  color: #f7f7f7;
}

.comments {

  position: relative;
  top: 50px;
  border: 2px solid black;
  width: 40%;


}

textarea{
  position: relative;
  background-color: white;
  top: 8px
}
.delete-button {
  position: relative;
  left: 50px;
  background-color: whitesmoke;
}

.post-button{
  align-self: flex-end
}

.like-button {
  background-color: #0074D9;
  
}

.dislike-button {
  position: relative;
  left: 10px;
  background-color: #FF4136;
} 


.error {
  font-size: 50px;
  height: 50%;
  text-align: center;
  padding-bottom: 10em
}

*{
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}



ul li:nth-child(even) {
  background-color: #8B9DC3;
  
}

ul li:nth-child(odd) {
  background-color: #dfe3ee;
  
}
.homepage-list {
  list-style: none;
  border: 2px solid black;
  text-align: center;
 
  width: 80%;
  margin: auto;
  color: #004883;
  
}
.NavBar {
  display: flex;
  font-size: 30px;
  justify-content: space-evenly;
  
}
.Headline{
  display: flex;
  flex-direction: column;
  text-align: center;
 
}

.article-description{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 15px;
  padding: -50px;
}


.home-header {
  background-color: #4285F4;
  color: white;
  text-align: center;
  font-size: 100px;
  margin: 0;
  padding: 0;
  outline: 0;
}

